* {
    margin: 0;
    padding: 0;
    font-family: "Overpass", sans-serif;
}

.steps-session {
    padding: 40px 0 20px; /* aumentei o padding-top para caber a barra atrás */
    background: #fff; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    position: relative;
}

/* Linha do progresso */
.progress-line {
    position: absolute;
    top: 67px; /* ajuste fino para alinhar com o meio dos círculos */
    left: 50%;
    transform: translateX(-50%);
    width: 90%;  /* pode ajustar se quiser mais perto dos ícones */
    height: 4px;
    background-color: #E2E8F0;
    border-radius: 4px;
    z-index: 0; /* atrás de tudo */
}

.progress-line-fill {
    height: 4px;
    width: 0%;
    background-color: #1D5E2F;
    border-radius: 4px;
    transition: width .4s ease;
    z-index: 0;
}

.container-cadastro-agencia {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.icons-step {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.icons-step-content {
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    border: solid #E2E8F0 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icons-step-content img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.icon-wrapper span {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

/* Ícone atual */
.icon-selected {
    width: 60px !important;
    height: 60px !important;
    background-color: #1D5E2F !important;
    border: none !important;
}

.steps-buttons {
    width: 800px;    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    margin-top: 40px;
}

#btnPrev,
#btnNext {
    padding: 12px 25px;
    background: #1D5E2F;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

#btnPrev {
    background: transparent;
    color: #0A0A0A;
    border: 1px solid #E2E8F0;
}

#btnPrev.hidden {
    visibility: hidden;
}

.icon-completed {
    width: 60px !important;
    height: 60px !important;
    background-color: #1D5E2F !important;
    border: none !important;
}

.icon-completed img {
    display: none;
}

.icon-completed::after {
    content: "✓";
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: bold;
}


/* ------------------ */

.steps-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    padding-top: 30px;
}

.step-content {
    display: none;
    text-align: center;
}

.step-content.active {
    display: block;
}

.step-content h2{
    margin-top: 25px;
    margin-bottom: 20px;
}


/* ------------------ */

.local-selector {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 20px;
}

.local-btn {
    background: #FFFFFF;
    border: 2px solid #E2E8F0;
    border-radius: 14px;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 16px;    
    color: #222;
    min-width: 380px;
    height: 95px;
    transition: 0.25s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,.06);
    display: flex;
    text-align: left;
    gap: 18px;
    justify-content: left;
}

.icon-local-selector{
    background-color: #F1F5F9;
    width: 22px;
    height: 22px;
    border-radius: 15px;
    padding: 15px;
}

/* ESTILO DO BOTÃO SELECIONADO */
.local-btn.active {
    background: #d5efe8;
    border-color: #2cbfae;
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
    transform: scale(1.03);
}

.icon-local-selector.active{
    background: #FFFFFF;
}

.form-step {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-wrap: wrap;
}


.form-step input {
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 6px;
    font-size: 14px;
}

.next-step-btn,
.submit-internacional {
    padding: 12px;
    background: #1D5E2F;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

/* ------------------ */

.form-session{
    max-width: 800px;
    margin: 0 auto;
}

.base-form-layout{    
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 23px;
    display: flex;    
}

.base-form-layout-title{    
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    font-size: 18px;
    color: white;
    padding: 16px 24px;
    text-align: left;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}

.form-row {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.required-label-red{
    color: #FB2C36;
}

.base-form-layout label{
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.base-form-layout input, .base-form-layout select{    
    font-size: 14px;
    border: #E2E8F0 solid 1px;
    background-color: #F8FAFC;
    color: #717182;
}

.input-form-large{
    width: 732px;
    padding: 10px 12px;
    border: 1px solid #CBD5E1;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 5px;
}

.input-form-medium{
    width: 345px;
    padding: 10px 12px;
    border: 1px solid #CBD5E1;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 5px;
}

.input-form-small{
    width: 215px;
    padding: 10px 12px;
    border: 1px solid #CBD5E1;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 5px;
}

.form-info {
    margin-top: 12px;
    font-size: 12px;
    color: #004F3B;
    text-align: left;
    background-color: #ECFDF5;
    border-radius: 14px;
    border: 1px solid #A4F4CF;
    padding: 16px 20px;
}

.icon-img-internacional{
    margin: 0 auto;
    width: 80px;
}

#formInternacional h2{
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: -5px;
}

#formInternacional p{
    font-size: 16px;
}

.form-info-inter{
    margin-top: 12px;
    font-size: 14px;
    text-align: left;
    background-color: #F8FAFC;
    border-radius: 14px;
    border: 1px solid #E2E8F0;
    padding: 16px 20px;
}

.form-info-inter-title{
    color: #314158;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-info-inter-itens{
    display: flex;
    font-size: 14px;
    gap: 100px;
}

/* STEP AGENCIA */


.tabs-container {
    margin: 0 auto;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 800px;
  justify-content: center;
}

.tab-item {
  flex: 1;
  padding: 15px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  text-align: center;
  cursor: default;
  background: #fff;
  transition: .3s;
  font-weight: 500;
  color: #333;
}

.tab-item.active {
  
  color: white;
  border: none;
}

.tab-item.active {
  background-color: #1D5E2F;
  color: #fff;
  border: none;
}

.tab-item.completed {
  background: #1D5E2F;
  color: #fff;
}

.tab-content {
  padding: 15px;
  border-radius: 8px;
  min-height: 120px;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

#nextTab, #prevTab {
  width: 145px;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #d8d8d8;
  color: #333;
}

/* CONTATO FINANCEIRO */

.form-row-fin {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.finance-contacts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-contact-btn {
    width: 250px;
    margin: 0 auto;
    background: #1D5E2F;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.remove-contact-btn {
    background-color: transparent;
    color: #FB2C36;
    border: none;
    border-radius: 6px;
    padding: 10px 14px;
    cursor: pointer;
    height: fit-content;
    font-weight: 600;
}

.fin-group-pos{
    position: relative;
}

.pos-remove-btn{
    position: absolute;
    right: -30px;
    top: 22px;
}


/* DOCUMENTOS */

.doc-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    max-width: 900px;
    margin: 0 auto;
}

.doc-card {
    border: 1px solid #E2E8F0;
    border-radius: 12px;
    padding: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}

.doc-info h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    
}

.doc-info p {
    color: #6B7280;
    font-size: 14px;
}

.required {
    color: #FB2C36;
}

.upload-box {
    width: 92%;
    padding: 6px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    color: #374151;
    background: #F9FAFB;
}

.upload-box:hover {
    background: #F1F5F9;
}

.file-input {
    display: none;
}

.upload-status {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.status-icon {
    font-size: 13px;
}

.checkbox-label {
    font-size: 14px;
    display: flex;
    align-items: top;
    gap: 8px;
}

.input-checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.select-input option:hover {
    border-color: #1D5E2F;
    box-shadow: 0 0 0 2px rgba(29, 94, 47, 0.20);
    transition: 0.25s ease;
}


/* ESTILO DE VALIDAÇÃO */

.error-msg {
    color: #FB2C36;
    font-size: 13px;
    margin-top: 4px;
    font-weight: 500;
    text-align: left;
}

.success-msg{
    text-align: left;
}