* {
    margin: 0;
    padding: 0;
}

.steps-session {
    padding: 40px 0 20px; /* aumentei o padding-top para caber a barra atrás */
    background: #fff; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    position: relative;
}

/* Linha do progresso */
.progress-line {
    position: absolute;
    top: 67px; /* ajuste fino para alinhar com o meio dos círculos */
    left: 50%;
    transform: translateX(-50%);
    width: 90%;  /* pode ajustar se quiser mais perto dos ícones */
    height: 4px;
    background-color: #E2E8F0;
    border-radius: 4px;
    z-index: 0; /* atrás de tudo */
}

.progress-line-fill {
    height: 4px;
    width: 0%;
    background-color: #00BC7D;
    border-radius: 4px;
    transition: width .4s ease;
    z-index: 0;
}

.container-cadastro-agencia {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.icons-step {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.icons-step-content {
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    border: solid #E2E8F0 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icons-step-content img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.icon-wrapper span {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

/* Ícone atual */
.icon-selected {
    width: 60px !important;
    height: 60px !important;
    background-color: #00BC7D !important;
    border: none !important;
}

.steps-buttons {
    width: 800px;    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    margin-top: 40px;
}

#btnPrev,
#btnNext {
    padding: 12px 25px;
    background: #009966;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

#btnPrev {
    background: #64748B; /* cinza bonito */
}

#btnPrev.hidden {
    visibility: hidden;
}

.icon-completed {
    width: 60px !important;
    height: 60px !important;
    background-color: #00BC7D !important;
    border: none !important;
}

.icon-completed img {
    display: none; /* esconde o ícone original */
}

.icon-completed::after {
    content: "✓";
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: bold;
}


/* ------------------ */

.steps-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    padding-top: 30px;
}

.step-content {
    display: none;
    text-align: center;
}

.step-content.active {
    display: block;
}

.step-content h2{
    margin-top: 25px;
    margin-bottom: 20px;
}


/* ------------------ */

.local-selector {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 20px;
}

.local-btn {
    background: #FFFFFF;
    border: 2px solid #E2E8F0;
    border-radius: 14px;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 16px;    
    color: #222;
    min-width: 380px;
    height: 95px;
    transition: 0.25s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,.06);
    display: flex;
    text-align: left;
    gap: 18px;
    justify-content: left;
}

.icon-local-selector{
    background-color: #F1F5F9;
    width: 22px;
    height: 22px;
    border-radius: 15px;
    padding: 15px;
}

/* ESTILO DO BOTÃO SELECIONADO */
.local-btn.active {
    background: #d5efe8;
    border-color: #2cbfae;
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
    transform: scale(1.03);
}

.icon-local-selector.active{
    background: #FFFFFF;
}

.form-step {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-wrap: wrap;
}


.form-step input {
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 6px;
    font-size: 14px;
}

.next-step-btn,
.submit-internacional {
    padding: 12px;
    background: #00BC7D;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

/* ------------------ */

.form-session{
    max-width: 800px;
    margin: 0 auto;
}

.base-form-layout{    
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 23px;
    display: flex;    
}

.base-form-layout-title{    
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    font-size: 18px;
    color: white;
    padding: 16px 24px;
    text-align: left;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}

.form-row {
    display: flex;
    gap: 20px;
    width: 100%;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.required-label-red{
    color: #FB2C36;
}

.base-form-layout label{
    text-align: left;
    font-size: 14px;
}

.base-form-layout input{    
    font-size: 14px;
    border: #E2E8F0 solid 1px;
    background-color: #F8FAFC;
    color: #717182;
}

.input-form-large{
    width: 690px;
}

.input-form-medium{
    width: 345px;
    padding: 10px 12px;
    border: 1px solid #CBD5E1;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 5px;
}

.input-form-small{
    width: 175px;
}

.form-info {
    margin-top: 12px;
    font-size: 14px;
    color: #004F3B;
    text-align: left;
    background-color: #ECFDF5;
    border-radius: 14px;
    border: 1px solid #A4F4CF;
    padding: 16px 20px;
}